@use "@sebban/styles" as *;

$gradient-2-1: #11151b;
$gradient-2-2: #303335;

$gradient-dark: custom-linear-gradient($gradient-2-1, $gradient-2-2);

.banner {
	width: 100%;
	height: 30vw;
	background: #11151b;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	padding: 0 10%;
}

.banner__title {
	flex: 2;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	max-width: 65%;
	padding: 0 10%;

	&--container {
		display: flex;
		gap: 2%;
		justify-content: center;
	}

	&--sebastian {
		@include fontFirstName;
	}

	&--walker {
		@include fontLastName;
	}
}

.banner__text {
	@include fontBannerText;
	text-align: left;
	align-self: flex-start;
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
}

.banner__links {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 8px;
	gap: 1vw;

	&--image {
		display: flex;
		place-items: center;
		height: 2vw;
		min-height: 15px;
		width: auto;
		object-fit: contain;
	}
}

.banner__portrait {
	flex: 1;
	object-fit: cover;
	display: flex;
	align-items: flex-end;

	&--photo {
		margin-top: 3vw;
		width: auto;
		height: 20vw;
		filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
	}
}
