@use "@sebban/styles" as *;

.header {
	width: 90%;
	z-index: 1000;
	display: flex;
	gap: 4%;
	justify-content: flex-end;
	padding-top: 2vh;
	position: absolute;
}

.header__hamburger {
	display: none;
	background: none;
	font-size: 30px;
	padding: 0;
	border: none;
	cursor: pointer;

	@media (max-width: 720px) {
		display: block;
	}
}

.header__button {
	@include fontHeader;
}

.header__nav {
	display: flex;
	gap: 2vw;

	@media (max-width: 720px) {
		display: none;
	}

	&--open {
		@media (max-width: 720px) {
			display: flex;
			flex-direction: column;
			gap: 4%;
			position: absolute;
			top: 60px;
			right: 0;
			background-color: rgba(255, 255, 255, 0.9);
			width: 100%;
			padding: 10px;
			z-index: 1001;
		}
	}
}
