@use "@sebban/styles" as *;

.header {
	width: 90%;
	z-index: 1000;
	display: flex;
	gap: 2%;
	justify-content: flex-end;
	padding-top: 2vh;
}

.header__hamburger {
	background: none;
	font-size: 30px;
	padding: 0px;
	border: none;
	cursor: pointer;
}

.header__button {
	@include fontHeader;
}

.header__nav {
	display: flex;
	gap: 20px;
}

@media (max-width: 720px) {
	.header__nav {
		display: none;
		flex-direction: column;
		gap: 10px;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: rgba(255, 255, 255, 0.9);
		width: 100%;
		padding: 10px;
		z-index: 1001;

		&--open {
			display: flex;
		}

		.header__button {
			display: block;
			padding: 10px;
		}

		.header__hamburger {
			display: block; // Show hamburger menu on small screens
		}
	}
}
